@model HMS.Areas.Dashboard.ViewModels.AccomodationsActionModel
  @if(Model!=null){
   <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
            @if (Model.Id!=null)
            {
                <span>Edit Accomdation</span>
            }
            else
            {
                <span>Create Accomdation</span>
            }

        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form id="actionForm">
            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="form-group">
                <label>Accomodation Type</label>
                <select name="AccomodationPackageId" class="form-control">
                    @if (Model.AccomodationPackages != null)
                    {
                        foreach (var accomodationPackage in Model.AccomodationPackages)
                        {
                            <option value="@accomodationPackage.Id" @(accomodationPackage.Id==Model.AccomodationPackageId ? "selected":string.Empty)>@accomodationPackage.Name</option>
                        }
                    }

                </select>
            </div>
            <div class="form-group">
                <label>Name</label>
                <input type="text" name="Name" class="form-control" value="@Model.Name" placeholder="Enter Accomodation Package Name" />
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text" name="Description" class="form-control" value="@Model.Description" placeholder="Enter Description" />
            </div>
           
        </form>
        <div class="errorDiv">

        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times mr-1"></i>Close</button>
        <button id="actionBtn" type="button" class="btn btn-primary"><i class="fas fa-save mr-1"></i>Save/Update</button>
    </div>
</div> 
}


<script>
    $("#actionBtn").click(function () {
        $.ajax({
            url: '@Url.Action("Action","Accomodations")',
            type: "post",
            data: $("#actionForm").serialize()
        }).done(function (res) {
          //  debugger;
            if (res.Success) {
                location.reload();
            } else { 
                $("#errorDiv").html(res.Message);
            }
        });
    });
</script>
