@model HMS.Areas.Dashboard.ViewModels.AccomodationsListingModel
@if (Model != null && Model.Accomodations != null && Model.Accomodations.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Accomodation Package</th>
                <th scope="col">Accomodation</th>
                <th scope="col">Description</th>
              
            </tr>
        </thead>
        <tbody>
            @foreach (var accomodation in Model.Accomodations)
            {

                <tr>
                    <td>
                        @if (accomodation.AccomodationPackage != null)
                        {
                            @accomodation.AccomodationPackage.Name

                        }
                    </td>
                    <td>@accomodation.Name</td>
                    <td>@accomodation.Description</td>
                    <td>
                        <button data-href="@Url.Action("Action","Accomodations" ,new {id=accomodation.Id})" class=" data-btn btn btn-primary" type="button" data-toggle="modal" data-target="#actionModal"><i class="fas fa-pen mr-1"></i>Edit</button>
                        <button data-href="@Url.Action("Delete","Accomodations" ,new {id=accomodation.Id})" class="data-btn btn-danger" type="button" data-toggle="modal" data-target="#actionModal"><i class="fas fa-trash mr-1"></i>Delete</button>
                    </td>

                </tr>
            }

        </tbody>
    </table>
    //pagination start..............
    /*https://jasonwatmore.com/post/2015/10/30/aspnet-mvc-pagination-example-with-logic-like-google*/
    if (Model.Pager.EndPage > 1)
    {
    <nav>
        <ul class="pagination">
            @if (Model.Pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index","Accomodations")">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index","Accomodations",new { page=Model.Pager.CurrentPage - 1,searchTerm=Model.SearchTerm,AccomodationPackageId=Model.AccomodationPackageId})">Previous</a>
                </li>
            }

            @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
            {
                <li class=" page-item @(page == Model.Pager.CurrentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index","Accomodations",new { page=page,searchTerm=Model.SearchTerm,AccomodationPackageId=Model.AccomodationPackageId})">@page</a>
                </li>
            }

            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index","Accomodations",new { page=Model.Pager.CurrentPage + 1,searchTerm=Model.SearchTerm,AccomodationPackageId=Model.AccomodationPackageId})">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index","Accomodations",new { page=Model.Pager.TotalPages,searchTerm=Model.SearchTerm,AccomodationPackageId=Model.AccomodationPackageId})">Last</a>
                </li>
            }
        </ul>
    </nav>
    }

    //pagination end..........................

}
else
{
    <div class="alert alert-warning" role="alert">
        Sorry!! no Records Exists.
    </div>
}
